@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

.box{
	max-width: 85%;
	margin: 0 auto;
}


.header{
	width: 100%;
	height: auto;
	position: sticky;
	padding: 15px 0;
	background-color: #ededed;
	z-index: 100;
}

.header-inner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	color: black;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

.search-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	color: #000000;
	margin-top: 120px;
}

.input{
	border-radius: 22px;
    border: none;
   	width: 37%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: inherit;
    outline: none;
    background-color: #C4C4C4;
}




.festivals{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* .festivals__column{
	flex: 0 1 25%;
	
} */

.festivals__window{
	width: 300px;
	height: 450px;
	margin-top: 10px;
	margin-bottom: 110px;
	transition: all 0.5s;
	overflow: hidden;
}

#fest1{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest2{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest3{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest4{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest5{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest6{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest7{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest8{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest9{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest10{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest11{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest12{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

.small-festivals__window{
	width: 200px;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 80px;
	transition: all .5s;
}

#fest13{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest14{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest15{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest16{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest17{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

#fest18{
	background: url('../Festival_photos/UPark\ 2022.jpg') no-repeat center / cover;
}

.small-festivals__window:hover{
	box-shadow: 10px 14px 20px grey;
	transform: scale(1.04);
}

.small-festivals__window:hover .festivals-descr {
	opacity: 1;
}

.festivals__window:hover{
	box-shadow: 10px 14px 20px grey;
	transform: scale(1.04);
}

.festivals__window:hover .festivals-descr{
	opacity: 1;
}

.festivals__window-box-column{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.festivals__window-box-row{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.festivals__window-title{
	font-size: 25px;
	margin-top: 30px;
	font-weight: 700;
}

.festivals__window-descr{
	font-size: 16px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 50px;
	text-align: center;

}

.festivals__window-date{
	font-size: 25px;
	margin-right: 50%;
	margin-top: 10px;
}

.festivals__window-location{
	font-size: 20px;
}

.festivals__window-price{
	font-size: 20px;
}

.festivals__window-button{
	width: 100%;
	transition: all 1s;
	padding: 10px 0;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	border: none;
	background-color:#009900;
	color:white;
}


.descr{
	font-size: 14px;
}

.festivals-descr {
	width: inherit;
	height: inherit;
	text-align: center;
	letter-spacing: 1px;
	font-size: 18px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	opacity: 0;
	transition: all 1s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}




.advertisement{
	background-color: grey;
	height: 150px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
}
#add1{
	background: url('../Advertising/Реклама.png') no-repeat center / cover;
}
#add2{
	background: url('../Advertising/Реклама\ НУЛП.png') no-repeat center / cover;
}


footer{
	height: 200px;
	background-color: #20242e;
	color: #dfe2e5;
}

.main-container {
	max-width: 78rem;
	margin: 0 auto;
	width: 100%;
}

.footer__top {
	display: flex;
	flex-flow: column nowrap;
}

.footer__socials {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: white;
}

.footer__socials img {
	box-shadow: 2px 5px 5px #fff;
	padding: 3px;
	filter: invert(100%);
}


@media (min-width:2550px){
	.festivals__window{
		width: 360px;     
		height: 540px;
		margin-bottom: 132px;
		margin-top: 20px;
	}

	.festivals__window:hover{
		box-shadow: 12px 16.8px 20px grey;
		transform: scale(1.04);
	}

	.small-festivals__window{
		width: 450px;    
		height: 675px;
		margin-bottom: 165px;
	}

	.small-festivals__window:hover{
		box-shadow: 11.5px 16.1px 20px grey;
		transform: scale(1.04);
	}

	.title{
		font-size: 36px;
		margin-top: 180px;
	}

	.input{
		padding-top: 10.5px;
    	padding-bottom: 10.5px;
	}

	.advertisement{
		height: 225px;
	}
	
	.festivals__window-descr{
		font-size: 21px;
		margin: 30px 0 0 0;
	}

	.festivals__window-button{
		padding: 15px 0;
	}

	.descr{
		font-size: 21px;
		margin: 30px 0 0;	
	}

	.header{
		padding: 22.5px 0;
	}
	main {
		margin-top: 15vh;
		padding: 0;
	}

	.footer{
		height: 300px;
	}
} 

 

@media (min-width: 1800px) and (max-width:2549px){
	.festivals__window{
		width: 360px;    /*1.2*/
		height: 540px;
		margin-bottom: 132px;
	}

	.festivals__window:hover{
		box-shadow: 12px 16.8px 20px grey;
		transform: scale(1.04);
	}

	.small-festivals__window{
		width: 230px;     /*1.15*/
		height: 345px;
		margin-bottom: 92px;
	}

	.small-festivals__window:hover{
		box-shadow: 11.5px 16.1px 20px grey;
		transform: scale(1.04);
	}

	.title{
		font-size: 28.8px;
		margin-top: 144px;
	}

	.input{
		padding-top: 8.4px;
    	padding-bottom: 8.4px;
	}

	.advertisement{
		height: 180px;
	}
	
	.festivals__window-descr{
		font-size: 16.8px;
		margin: 24px 0 0 0;
	}

	.festivals__window-button{
		padding: 12px 0;
	}

	.descr{
		font-size: 16.8px;
		margin: 24px 0 0;	
	}

	.header{
		padding: 18px 0;
	}

	.footer{
		height: 240px;
	}
}

@media (max-width: 1500px){
	.festivals__window{
		width: 240px;            /*0.8*/
		height: 360px;
		margin-bottom: 88px;
	}

	.festivals__window:hover{
		box-shadow: 8px 11.2px 20px grey;
		transform: scale(1.04);
	}

	.small-festivals__window{
		width: 160px;           /*0.8*/
		height: 240px;
		margin-bottom: 64px;
		margin-top: 8px;
	}
	
	.small-festivals__window:hover{
		box-shadow: 9px 12px 20px grey;
		transform: scale(1.04);
	}

	.title{
		font-size: 19.2px;
		margin-top: 96px;
	}

	.input{
		padding-top: 5.6px;
    	padding-bottom: 5.6px;
	}

	.advertisement{
		height: 120px;
	}

	.festivals__window-descr{
		font-size: 11.2px;
		margin: 16px 0 0 0;
	}

	.festivals__window-button{
		padding: 8px 0;
	}

	.descr{
		font-size: 11.2px;
		margin: 16px 0 0;	
	}

	.header{
		padding: 12px 0;
	}

	.footer{
		height: 160px;
	}
}


@media (max-width: 1200px){
	.festivals__window{
		width: 180px;    /* 0.6*/
		height: 270px;
		margin-bottom: 66px;
	}

	.festivals__window:hover{
		box-shadow: 12px 16.8px 20px grey;
		transform: scale(1.04);
	}

	.small-festivals__window{
		width: 120px;      /*0.6*/
		height: 180px;
		margin-bottom: 48px;
		margin-top: 6px;
	}

	.small-festivals__window:hover{
		box-shadow: 7px 9.8px 20px grey;
		transform: scale(1.04);
	}

	.title{
		font-size: 14.4px;
		letter-spacing: 0.2px;
		margin-top: 72px;
	}

	.input{
		padding-top: 4.2px;
    	padding-bottom: 4.2px;
	}

	.advertisement{
		height: 90px;
	}

	.festivals__window-descr{
		font-size: 8.4px;
		margin: 12px 0 0 0;
	}

	.festivals__window-button{
		padding: 6px 0;
	}

	.descr{
		font-size: 8.4px;
		margin: 12px 0 0;	
	}

	.header{
		padding: 9px 0;
	}

	.footer{
		height: 120px;
	}
}

@media (max-width: 425px){
	.festivals__window{
		width: 160px;    /* 0.4*/
		height: 238.5px;
		margin-bottom: 58px;
	}

	.festivals{
		justify-content: space-evenly;
	}

	.festivals__window:hover{
		box-shadow: 12px 16.8px 20px grey;
		transform: scale(1.04);
	}

	.small-festivals__window{
		width: 80px;      /*0.4*/
		height: 120px;
		margin-bottom: 32px;
		margin-top: 4px;
	}

	.small-festivals__window:hover{
		box-shadow: 7px 9.8px 20px grey;
		transform: scale(1.04);
	}

	.title{
		font-size: 13px;
		margin-top: 48px;
	}

	.input{
		padding-top: 2.8px;
    	padding-bottom: 2.8px;
		width: 80%;
	}

	.advertisement{
		height: 60px;
	}

	.festivals__window-descr{
		font-size: 9px;
		letter-spacing: 0.3px;
		margin: 8px 0 0 0;
	}

	.festivals__window-button{
		padding: 4px 0;
	}

	.descr{
		font-size: 9px;
		letter-spacing: 0.3px;
		margin: 8px 0 0;	
	}

	.header{
		padding: 6px 0;
	}

	.footer{
		height: 80px;
	}
}
.floating-button {
	text-decoration: none;
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgb(161, 187, 187);
	transition: .3s;
  }
  .floating-button:hover {
	background: #3366ff;
	box-shadow: 0 15px 20px #ccd9ff;
	color: white;
	transform: translateY(-7px);
  }


  #floating-button{
	text-decoration: none;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 45px;
	border-radius: 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 600;
	color: #524f4e;
	background: url('../photos/logo.svg') no-repeat center / cover;
	box-shadow: 0 8px 15px rgb(161, 187, 187);
	transition: .3s;
	justify-content: center;
  }

  #floating-button:hover {
	background-color: #3366ff;
	box-shadow: 0 15px 20px #ccd9ff;
	color: white;
	transform: translateY(-7px);
  }

